body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.5;

  animation: bounceIn 1s both ease-in;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 238);
}

.welcome {
  margin-top: 100px;
}

.welcome img {
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

.welcome h2, .welcome b {
  font-weight: 400;
}

.contact {
  line-height: 1.8;
}

@keyframes bounceIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  10% {
    transform: translateY(-100%);
    opacity: .2;
  }
  15% {
    transform: translateY(-40%);
    opacity: .5;
  }
  20% {
    transform: translateY(-20%);
    opacity: .7;
  }
  25% {
    transform: translateY(-2%);
  }
  33% { /* 33 or 35 is suitable */
    transform: translateY(-5%);
  }
  50% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
