<div class="site">
  <div class="welcome-message">
    
    <div class="me">
      <div class="name">
        Julian Poyourow
      </div>
      <div class="blurb">
        I'm a JS developer working out of Long Beach.
      </div>
    </div>
  </div>
  
  <div class="site-body">
    <div class="section">
      <div class="header">
        What I do
      </div>
      <div class="description">
        I'm an Angular 1.x & 2+, NodeJS and Python developer. 
      </div>
    </div>
    
    <div class="section">
      <div class="header">
        Other interests
      </div>
      <div class="description">
        Riding bikes, backpacking, repairing things.
      </div>
    </div>
  </div>
</div>
